@import "@fontsource/geist-mono/index.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff8f7;
  color: #241918;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
